<footer id="Contact">
  <div class="container">
    <p>If you want to have a word with us, feel <br>free to get in touch.</p>
    <a href="tel: +918376001011" class="email-btn"><span><i class="fa fa-phone" aria-hidden="true"></i> Call Us</span></a>
    <a href="mailto: contact@viku.in" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us</span></a>
  </div>
</footer>
 <div class="copyright"><p>Copyright © {{footerYear}} VIKU | All Right Reserved | {{ dateMessage }} </p>
</div>

