<br>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Our services</h5>
    <p class="card-text">Delivering smile since day one. We are a startup, we believe in providing an excellent, flexible and punctual services to the clients.</p>
  </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Awesome responsive web applications easy to use and amazing online.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">App Development</h5>
          <p class="card-text">Devices of all shapes and project of all sizes compatible softwares for all users</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Websites</h5>
          <p class="card-text">Design at front-end of every domain makes it more awesome.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">IT Services</h5>
          <p class="card-text">VIKU provides all IT Services such as deployment, mails, ERP, CRM, setup, etc </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Software development for all sectors such as Banking, Ecommerce, Legal, etc.</li>
      <li class="list-group-item">Website designing of all types such as Personal, business, comapny, etc.</li>
      <li class="list-group-item">All services for your organisation such as data management, data analytics, automation, etc</li>
      <li class="list-group-item">Taking your value to the next level of digital transformation.</li>
      <li class="list-group-item">Develop modules and consult for the best outcome of your enterprise.</li>
    </ul>
  </div>
<br>  