<section id="Banner">
  <div class="logo">
    <img src="../../assets/images/ds-logo.png">
  </div>
  <div class="blacksection">
    <h1>Technology<br>beyond<br>Imagination</h1>
  </div>
</section>
<a href="#OurBlog" class="mscroll"><img src="../../assets/images/mouse-icon.png" alt="mouse icon"></a>
<section id="OurBlog"> 
  <div class="container">
    <h2></h2>
    <p>In Today's world, technology is the drive. Everyting is geeting in touch with tevhnology to enhance and maxmize the performance. At VIKU, we try to use the max technology to make your system a better system.</p>
    <div class="blog-wrap">
      <div class="each-block clearfix one"> 
        <div class="icon">
          <img src="../../assets/images/idea.png">
        </div>
        <div class="blog-intro"> 
          <h3>Opening New Doors for..</h3>
          <p>When a group of ambitious peoples meet, you know something hot is brewing. Take a closer look and you’ll find them murmuring away..</p>
        </div>
      </div>
      <div class="each-block clearfix two"> 
        <div class="icon">
          <img src="../../assets/images/processor.png">
        </div>
        <div class="blog-intro"> 
          <h3>Is Your Content Strategy Playing..</h3>
          <p>Compelling creative assets play a major role in the success of your Paid Customer Acquisition program..</p>
        </div>
      </div>
      <div class="each-block clearfix three"> 
        <div class="icon">
          <img src="../../assets/images/smartphone.png">
        </div>
        <div class="blog-intro"> 
          <h3>Glocalization Helps Small..</h3>
          <p>At Position², we combine creative thinking and best practices for each channel to develop engaging and effective assets to enhance your brand.. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="OurWork">
  <div class="container">
    <h2>What we do?</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="each-work space">
          <img src="../../assets/images/websites.jpg" alt="Websites">
        </div>
         <div class="each-work">
          <img src="../../assets/images/software.jpg" alt="Software">
        </div>
        <div class="each-work space">
          <img src="../../assets/images/webapplication.jpg" alt="Web Application">
        </div>
         <div class="each-work">
          <img src="../../assets/images/digitalmarketing.jpg" alt="Digital Marketing">
        </div>
        <div class="each-work space">
          <img src="../../assets/images/mpbileapplication.jpg" alt="Mobile Application">
        </div>
         <div class="each-work">
          <img src="../../assets/images/designing.jpg" alt="Designing">
        </div>
        <div class="each-work space">
          <img src="../../assets/images/emails.jpg" alt="Emails">
        </div>
         <div class="each-work">
          <img src="../../assets/images/seo.jpg" alt="SEO">
        </div>
      </div>
    </div>
  </div>
</section> 
