<section id="Banner">
  <div class="logo">
    <img src="../../assets/images/ds-logo.png">
  </div>
  <div class="blacksection">
    <h1>Welcome<br>to the<br>Community</h1>
  </div>
</section>
<a href="#Community" class="mscroll"><img src="../../assets/images/mouse-icon.png" alt="mouse icon"></a>
<br>
<section id="Community">
  <div class="container">
    <div class="card mb-3">
      <img class="card-img-top" src="../../assets/images/internship.jpeg" alt="Internship VIKU" style="height: 350px;">
      <div class="card-body">
        <h5 class="card-title">Internship</h5>
        <p class="card-text">Internship is for students or trainee or individuals, who want to works in our organization, in order to gain work experience or satisfy requirements for a qualification.</p>
        <a href="mailto: contact@viku.in" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> Apply</span></a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-bottom" src="../../assets/images/work.jpeg" alt="work at viku" style="height: 350px;" >
      <div class="card-body">
        <h5 class="card-title">Work</h5>
        <p class="card-text">We have this oppourtunity open to everyone. If you want to work and grow with us. Drop a email below. We will revert back as soon as possible</p>
        <a href="mailto: contact@viku.in" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> Apply</span></a>
      </div>
    </div>
    <br>
  </div>
</section>

  