<div class="alert alert-success" style="color: white;border-color: black; background-color: black;margin-bottom: auto;border-radius: inherit;">
<!--  <button type="button" class="close" data-dismiss="alert">&times;</button>-->
  <span style="color: #e64741; font-weight:700;">#UpdatesAtVIKU</span> Check COVID 19 pandemic updates...<a href = "http://iamvikashprasad.blogspot.com/2020/05/covid-19-pandemic.html" target="_blank">Here</a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;| &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;News at VIKU... <a href = "https://viku.in/news/" target="_blank">Here</a> 
</div>
<section id="Banner">
  <div class="logo">
    <img src="../../assets/images/ds-logo.png">
  </div>
  <div class="blacksection">
    <h1>IT Services<br>Consultation<br>Digitization</h1>
  </div>
</section>
<a href="#Services" class="mscroll"><img src="../../assets/images/mouse-icon.png" alt="mouse icon"></a>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Design and Develop for everyone</h1>
    <p class="lead">We design and develop applicatons for everyone. We designed websites & develop softwares for all level busines, all sizes. Our projects are of all sizes and for all devices. Get your business, identity, information, etc online and available for the audeince 24*7 to reach you.</p>
  </div>
</div>
<section id="Services">
  <div class="container">
    <h2>Our services</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-services">
          <img src="../../assets/images/digital-marketing.jpg" alt="Services">
          <h3>Website &amp; Development</h3>
          <p>For businesses today, it's about having an effective, multifunctional portal that plays a crucial marketing role. Whether your business is B2B, B2C or both, your website should spearhead your Demand Acceleration by inviting, informing and reaching your audience.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-services">
          <img src="../../assets/images/web-design.jpg" alt="Services">
          <h3>Digitization &amp; Consultation</h3>
          <p>Softwares of all types such as Personal, business, comapny, etc. Software development for all sectors such as Banking, Ecommerce, Legal, etc. Develop modules and consult for the best outcome of your enterprise. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-services">
          <img src="../../assets/images/web-hosting.jpg" alt="Services">
          <h3>IT Services</h3>
          <p> We provides all IT Services such as deployment, mails, ERP, CRM, setup, etc. All services for your organisation such as data management, data analytics, automation, etc. Taking your value to the next level of digital transformation. </p>
        </div>
      </div>
    </div>
  </div>
</section>

  